*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    background:black;
    width: 98vw;
    height: 98vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    width:90%;
    max-width:470px;
    background:linear-gradient(125deg,#8ee5f4, #c378fc);
    color:black;
    border-radius:25px;
    padding:40px 20px;
    text-align:center;
}
.search{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.search input{
    border:0;
    outline:0;
    background:black;
    color:white;
    padding:10px 25px;
    height:60px;
    flex:1;
    margin-right:16px;
    font-size:18px;
    border-radius:30px;
}
.search button{
      border:0;
    outline:0;
    background:black;
    border-radius:50%;
    width:60px;
    color:white;
    font-size:16px;
    cursor:pointer;
    height:60px;
}
#cloud{
    font-size:80px;
    margin-top:10px;
}
#icon{
    font-size:40px;
    color:white;
}
.weather h1{
    font-size:80px;
    font-weight:500;
    color:black;
}
.weather h2{
    font-size:45px;
    font-weight:400;
    color:black;
    margin-top:-10px;
}
.details{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 0 50px;
    margin-top:40px;
}
.col{
   display:flex; 
   align-items:center;
   text-align:left;
}
.col i{
    margin-right:10px;
}
.humidity, .wind{
    font-size:28px;
    margin-top:-6px;
}
.weather{
    display:none;
}
